* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

div {
  position: fixed;
  display: flex;
  align-items: flex-end;
}

.gridOne {
  display: flex;
  gap: 50px;
  position: relative;

  top: 180px;
  width: 1440px;
}

.gridTwo {
  display: flex;
  gap: 50px;
  position: relative;

  top: 200px;

  width: 1440px;
}

.gridThree {
  display: flex;
  gap: 50px;
  position: relative;

  top: 220px;

  width: 1440px;
}

.hole {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;

  width: 200px;
  height: 200px;
  margin-left: 100px;

  animation-name: slideMole;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-direction: forward;
  animation-play-state: running;
}


img {
  object-fit: scale-down;
}

@keyframes slideMole {
     0%{
        background-image: url('/assets/toupeira6.svg');
    }
    20%{
        background-image: url('/assets/toupeira1.svg');
    }
    40%{
        background-image: url('/assets/toupeira2.svg');
    }
    60%{
        background-image: url('/assets/toupeira3.svg');
    }
    80%{
        background-image: url('/assets/toupeira4.svg');
    }
    100%{
        background-image: url('/assets/toupeira5.svg');
    }
}
