* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

div {
  position: fixed;
  display: flex;
  align-items: flex-end;
}

.gridOne {
  display: flex;
  gap: 50px;
  position: relative;

  top: 180px;
  width: 1440px;
}

.gridTwo {
  display: flex;
  gap: 50px;
  position: relative;

  top: 200px;

  width: 1440px;
}

.gridThree {
  display: flex;
  gap: 50px;
  position: relative;

  top: 220px;

  width: 1440px;
}

.hole {
  display: flex;
  position: relative;

  width: 240px;
  height: 200px;
  margin-left: 70px;
  animation-name: slideMole;
  animation-duration: 430ms;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes slideMole {
  0% {
    background-image: url("/assets/toupeira6.svg");
    background-repeat: no-repeat;
  }
  20% {
    background-image: url("/assets/toupeira1.svg");
    background-repeat: no-repeat;
  }
  40% {
    background-image: url("/assets/toupeira2.svg");
    background-repeat: no-repeat;
  }
  60% {
    background-image: url("/assets/toupeira3.svg");
    background-repeat: no-repeat;
  }
  80% {
    background-image: url("/assets/toupeira4.svg");
    background-repeat: no-repeat;
  }
  100% {
    background-image: url("/assets/toupeira5.svg");
    background-repeat: no-repeat;
  }
}
